<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AQMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <AQMS.Properties.Settings>
      <setting name="portAlat" serializeAs="String">
        <value>COM9</value>
      </setting>
      <setting name="namaAplikasi" serializeAs="String">
        <value>AQMS</value>
      </setting>
      <setting name="imgaePath" serializeAs="String">
        <value />
      </setting>
      <setting name="lat" serializeAs="String">
        <value>-6.3480145</value>
      </setting>
      <setting name="lng" serializeAs="String">
        <value>106.8763503</value>
      </setting>
      <setting name="suhu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="kelembaban" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tekanan" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="arahAngin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="kecepatanAngin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="no2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="o3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="co" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="so2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="nmhc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pm25" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pm10" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="apiUrl" serializeAs="String">
        <value>http://103.139.192.125</value>
      </setting>
      <setting name="inletUdara" serializeAs="String">
        <value>1070</value>
      </setting>
      <setting name="inputSensor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="pwmOtomatis" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="pwmTrack" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="aboutUs" serializeAs="String">
        <value>Aplikasi monitoring kualitas cuaca</value>
      </setting>
      <setting name="offsetNo2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetSo2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetO3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetCo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetNMHC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetPM25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetPM10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="batteryThreshold" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="portGps" serializeAs="String">
        <value>COM19</value>
      </setting>
      <setting name="bawahSuhu" serializeAs="String">
        <value>-40</value>
      </setting>
      <setting name="atashSuhu" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="bawahKelembaban" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="atasKelembaban" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="bawahTekanan" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="atasTekanan" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="bawahKecepatan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atasKecepatan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bawahNO2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atasNO2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bawahSO2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atasSO2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bawahO3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="arasO3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bawahCO" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atasCO" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bawahNMHC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atasNMHC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bawahPM25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atasPM25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bawahPM10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atasPM10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bawahSolar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atasSolar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="solarRadiasi" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="offsetSuhu" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetKelembaban" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetTekanan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetArahAngin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetKecepatanAngin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetSolarRadiasi" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="interval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="timerCharge" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="timerTunggu" serializeAs="String">
        <value>0</value>
      </setting>
    </AQMS.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.116.0" newVersion="1.0.116.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>